.p-inputtext {
    padding: 0.2rem 0.2rem;
}

.p-divider.p-divider-horizontal {
    margin: 0.5rem 0;
    padding: 0 1.25rem;
}

p {
    text-align: right;
    margin: 0;
}

.af_label {
    text-align: right;
    width: 8rem;
    display: "inline-block";
}
